@import "./helpers/config";
@import "./helpers/utilities";

#root {
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .intro {
    background-color: $intro-bg-color;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2;

    h1 {
      font-family: $header-font;
    }

    p {
      font-family: $secondary-font;
    }
  }
}

.todo {
  display: flex;
  justify-content: center;

  .form {
    position: sticky;

    input {
      border-radius: 5px;
      width: 400px;
      height: 50px;
    }
  }

  .todo-count {
    font-size: 1.5em;
    font-weight: bold;
    color: #faae20;
  }

  h2 {
    text-align: center;
    color: $main-color;
    font-size: 30px;
    font-family: $header-font;
  }

  .btn-box {
    display: flex;
    justify-content: center;
    button {
      border-radius: 5px;
      flex-grow: 1;
      font-family: $secondary-font;
      height: 30px;
    }
  }

  button:hover,
  button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    background-color: #faae20;
    cursor: pointer;
  }
}