$main-color : red;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

h2{
  color:$main-color;
  font-size: 20px;
  font-family: 'Indie Flower';
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    text-align: center;
  }
}

.form{
  display: flex;
  flex-direction: column;
  width: 15%;
  input{
    border-radius: 5%;
  }
}

.btn-box{
  display: flex;
  justify-content: center;
  button{
    border-radius: 10%;
    flex-grow: 1;
   }
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}