@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
$secondary-font: "Indie Flower", serif;
$header-font: "Shadows Into Light";
$main-color: #2ec9c2;
$intro-bg-color: #eeebdd;